.container {
  width: 100%;
}

.title {
  margin-bottom: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0px 45px;
}

.input {
  margin-bottom: 20px;
  padding: 10px 15px;
  border: 1px solid #acacac;
}

.button {
  margin-top: 10px;
  width: 100%;
}
